---
import Layout from "../layouts/Layout.astro"
import { ModalAdd } from "../components/ModalAdd.tsx"
---

<Layout title="admin">
  <div
    class="min-w-full min-h-screen mt-2 p-4 flex justify-center items-center"
  >
    <ModalAdd client:only />
  </div>
</Layout>
