---
import TikTok from "./icons/TikTok.astro"
import Instagram from "./icons/Instagram.astro"
import Whatsapp from "./icons/Whatsapp.astro"
---

<footer
  class="bg-transparent rounded-lg shadow-lg m-4 dark:bg-gray-800 flex flex-col min-w-80 md:min-w-full"
>
  <div class="flex min-w-full h-16 justify-center items-center gap-2">
    <a
      target="_blank"
      class="hover:animate-wiggle transition-all duration-500 bg-transparent"
      href="https://www.tiktok.com/@zmrclub"><TikTok /></a
    >
    <a
      target="_blank"
      class="hover:animate-wiggle transition-all duration-500 bg-transparent"
      href="https://www.instagram.com/zmr.club"><Instagram /></a
    >
    <a
      target="_blank"
      class="hover:animate-wiggle transition-all duration-500 bg-transparent"
      href="https://wa.me/584246488057/"><Whatsapp /></a
    >
  </div>

  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="https://flowbite.com/" class="hover:underline">ZMR</a>.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="/login" class="hover:underline me-4 md:me-6">Log in</a>
      </li>
      <li>
        <a href="/about" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="/contact" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>
