<section class="relative min-h-screen min-w-full">
  <img
    src="/images/hero-1.jpg"
    alt="hero image for zmr"
    class="min-w-full max-[765px]:hidden md:min-w-full aspect-video h-auto object-fill"
  />
  <img
    src="/images/hero-mobile-1.jfif"
    alt="hero image for zmr mobile"
    class="xs:min-w-full sm:aspect-[9:16] min-h-auto md:hidden object-fill"
  />

  <h1
    class="text-pretty text-white absolute top-5 left-5 text-8xl md:hidden xs:text-6xl"
  >
    ZMR
  </h1>
</section>
<style>
  h1 {
    font-family: "Voga";
  }
</style>
